%h3
  = "#{@teacher.salutation} #{@teacher.first_name} #{@teacher.last_name}"
%table.table.table-striped
  %tr
    %th Student
    %th Attend.
    %th HW
  - @session.afterschool_class.students.each do |student|
    %tr
      %td
        = full_name(student)
      %td
        - if student.attendances.select {|attendance| attendance.session_id == @session.id }[0]
          - current_status = student.attendances.last.status
          -case current_status
            -when "Late"
              %span.badge.badge-warning
            -when "On time"
              %span.badge.badge-success
        -else
          %span.badge.badge-important
      %td
        = student.assignment_completion_percentage.to_s + "%"





