%tr
  %td
    = full_name(student)
    %span.badge.badge-important{ :student_id => student.id }
      = student.total_outstanding_assignments_count
  %td
    - if !student.find_session_attendance(@session.id)
      = render partial: 'absent', locals: {student:student, session: @session}
    - else
      = render partial: 'sign_in', locals: {student: student, session: @session}
  %td
    %span.label
      = link_to "Show Assignments", student_path(student), method: :get, :remote => true
