%h2.teacher_name
  Teacher:
  = @session.afterschool_class.teachers.first.first_name + " " + @session.afterschool_class.teachers.first.last_name
  %h2.grade_level
    Grade:
    = @session.afterschool_class.grade_level.year
  %h2.students Student Roster
  %ul
    - @session.afterschool_class.students.each do |student|
      %li
        = student.first_name + " " + student.last_name
        - if !student.signed_in?(@session.id)
          = link_to "Sign in", attendances_path(attendance: {session_id: @session.id, student_id: student.id}), method: :post
        - else
          -if student.current_class_status(@session.id) == "Late"
            %span.badge.badge-important
              Late
          -else
            %span.badge.badge-success
              On time

  %br
  %h2= link_to "Delete Session", afterschool_class_session_path(@session), method: :delete, data: {confirm: "Are you sure?"}

