= f.fields_for :teachers do |builder|
  %h4 Teacher
  %div
    = builder.select :salutation, ["Mr.", "Mrs.", "Ms."], :prompt => true

    = builder.label :first_name, "First Name"
    = builder.text_field :first_name, :placeholder => "First Name"
    %br
    = builder.label :last_name, "Last Name"
    = builder.text_field :last_name, :placeholder => "Last Name"
%br
= f.label :grade, "Select Grade Level"
= f.collection_select(:grade_level_id, GradeLevel.find(:all), :id, :year, :prompt => true)
%br