%h1 Create New Class
%div
  = form_for @afterschool_class, :validate => true do |f|
    - if @afterschool_class.errors.any?
      #error_explanation
        .alert.alert-error
          ="The form contains #{ pluralize(@afterschool_class.errors.count, "error") }"
        %ul
          -@afterschool_class.errors.full_messages.each do |msg|
            %li= msg

    = f.fields_for :teachers do |builder|
      %h4 Teacher
      %div
        = builder.select :salutation, ["Mr.", "Mrs.", "Ms."], :prompt => true

        = builder.label :first_name, "First Name"
        = builder.text_field :first_name, :placeholder => "First Name"
        %br
        = builder.label :last_name, "Last Name"
        = builder.text_field :last_name, :placeholder => "Last Name"
    %br
    = f.label :grade, "Select Grade Level"
    = f.collection_select(:grade_level_id, GradeLevel.find(:all), :id, :year, :prompt => true)
    %br

    = link_to "+Add Student"
    = f.fields_for :students do |builder|
      %h4 Student
      %div
        = builder.label :first_name, "First Name"
        = builder.text_field :first_name, :placeholder => "First Name"

        = builder.label :first_name, "Last Name"
        = builder.text_field :last_name, :placeholder => "Last Name"

        = builder.hidden_field :grade_level_id, :value => builder.object.grade_level_id

    = f.submit "Create Class", :class => "btn btn-large btn-success"
