%div
  %h3
    = full_name(@student)
  %h4
    = "Overall On time Percentage: #{@student.on_time_percentage}%"
  %h4
    = "Overall Attendance Percentage: #{@student.overall_attendance_percentage}%"
  %br
  %table.table.table-striped{ :cellpadding => "3", :cellspacing => "2" }
    %tr
      %th Date
      %th Status
    - i = 0
    - @sessions.each do |session|
      %tr
        %td
          = session.date
          %td
            - if !@attendances[i].nil? && @attendances[i].date == session.date
              -if @attendances[i].status == "On time"
                %span.label.label-success
                  = @attendances[i].status
              - else
                %span.label.label-important
                  = @attendances[i].status
              - i += 1
            - elsif !@attendances[i].nil? && @attendances[i].date > session.date
              %span.label
                Error
            - else
              %span.label
                Absent