%h1 Student Reports
%ul.nav.nav-list
  %li.divider
%table.table.table-striped#student_reports_table 
  %thead
    %tr
      %th Student
      %th
  %tbody
    - StudentReportsHelper.alphabetize_by_last_name(@students).each do |student|
      %tr
        %th 
          = "#{student.first_name} #{student.last_name}"
        %th
          = link_to "Assignments", student_report_path(student), class: "btn btn-success btn-small"
        %th
          = link_to "Attendance", attendance_path(student.id), class: "btn btn-warning btn-small"
        / %th
        /   %span.label.label-success
        /     =link_to "Export Report"
