%div
  %h3
    = full_name(@student)
  %h4
    = "Overall Completion Percentage: #{@student.overall_assignment_completion_percentage}%"
  %h4
    = "Today's Completion Percentage: #{@student.assignment_completion_percentage_today}"
  %br
  %table.table.table-striped{ :cellpadding => "3", :cellspacing => "2" }

    %tr
      %th Assignment
      %th Due Date
      %th Complete
    - @student.all_assignments_by_due_date.each do |s_a|
      %tr
        %td
          = s_a.assignment.description
        %td
          = s_a.assignment.due_date
        %td
          -if s_a.completion_time          
            %span.label.label-success
              = "Complete"
          -else
            %span.label.label-important
              = "Incomplete"
 