<!DOCTYPE html>
<html>
<head>
  <title>Timestamp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">TimeStampz</a>
      </div>
    </div>
  </div>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}")%>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
