<!DOCTYPE html>
<html>
<head>
  <title>Timestamp</title>
  <%= stylesheet_link_tag    :application, :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to "TimeStampz", root_path, class: 'brand' %>
        <ul class="nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Assignments
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All Assignments", assignments_path %></li>
              <li><%= link_to "Create Assignments", new_assignment_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Classes
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All Classes", afterschool_classes_path %></li>
              <li><%= link_to "Create Class", new_afterschool_class_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reports
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Daily Reports", reports_path %></li>
            </ul>
          </li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Export
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Daily Session Stats", sessions_path(date: Time.zone.now.to_date, format: "csv") %></li>
              </ul>
            </li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to("Signin", new_admin_session_path) if current_admin == nil %></li>
              <li><%= link_to( "Signout", destroy_admin_session_path, :method => :delete) if current_admin != nil %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}")%>
  <% end %>

  <%= yield %>
</div>

</body>
</html>

