<!DOCTYPE html>
<html>
<head>
  <title>Timestamp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to "TimeStampz", root_path, class: 'brand' %>
        <ul class="nav">
          <li><%= link_to "Create Assignments", new_assignment_path %></li>
          <li><%= link_to "Create Class", new_afterschool_class_path %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}")%>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
